.root {
  height: 100%;
  position: relative;
  left: 0;
  transition: left $sidebar-transition-time ease-in-out;
}

.wrap {
  position: relative;
  min-height: 100%;
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  left: $sidebar-width-open - $sidebar-width-closed;
  right: 0;
  transition: left $sidebar-transition-time ease-in-out, margin-left $sidebar-transition-time ease-in-out;

  @media (max-width: breakpoint-max(sm)) {
    margin-left: 0;
    left: $sidebar-width-open;
    transition: left $sidebar-transition-time ease-in-out, margin-left $sidebar-transition-time ease-in-out;
  }
}

.sidebarClose div.wrap {
  left: 0;
  &.-without_sidebar {
    margin-left: 0;
  }
}

.sidebarStatic .wrap {
  //transition: none;
  left: 0;
  margin-left: $sidebar-width-open;

  &.-without_sidebar {
    margin-left: 0;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-grow: 1;
  padding: $content-padding;
  margin-top: $content-margin-top;
  background-color: $body-bg;
  //height: calc(100vh - #{$content-margin-top});
  height: calc(var(--vh, 1vh) * 100 - #{$content-margin-top});
  overflow: auto;

  &.-iframe {
    padding: 0;
  }

  @media (max-width: breakpoint-max(sm)) {
    padding: 20px $content-padding-sm ($content-padding-sm + 30px);
  }

  // hammers disallows text selection, allowing it for large screens
  @media (min-width: breakpoint-min(sm)) {
    user-select: auto !important;
  }
}

.contentFooter {
  position: absolute;
  bottom: 15px;
  color: $text-muted;
}
.blackout-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #002B49;
  opacity: 0.3;
  padding-left: -20px;
  z-index: 20;
}