.profile_main {
  margin: 0 -10px;
  display: grid;
  grid-template-columns: [start] 30% [breakpoint] 30% [breakpoint] 40% [end];
  grid-template-rows: [start] auto [breakpoint] auto [breakpoint] auto [end];
  grid-auto-flow: column;

  &-block {
    padding: 0 10px;

    &.-schedule {
      grid-area: start / breakpoint 2 / middle / end;
    }

    &.-main {
      grid-area: start / start / middle / breakpoint 1;
    }

    &.-additional {
      grid-area: end / breakpoint 1 / middle / breakpoint 2;
    }

    &.-duties {
      grid-area: start / breakpoint 1 / start / breakpoint 2;
    }
  }

  &-card {
    margin-bottom: 20px;

    &-header {
      padding: 24px;
      border-bottom: 1px solid var(--border-color-light);
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-ref_button {
        overflow: hidden;
        display: flex;
        align-content: center;
        white-space: nowrap;
        line-height: 20px;
        font-weight: 400;
        color: $cyan;

        span {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      &-edit {
        color: $link-color;
        fill: $link-color;
        font-size: 13px;
        cursor: pointer;

        span {
          margin-right: 8px;
        }
      }

      &-title {
        display: flex;
        align-items: center;

        &-badge {
          padding: 3px 11px 2px;
          font-size: 10px;
          border-radius: 22px;
          line-height: 16px;
          font-weight: 500;
          color: white;
          background-color: $primary;

          &.-secondary {
            background-color: $gray-200;
            color: $gray-text;
          }
        }
      }

      &.-schedule_padding {
        padding: 12px 20px;
      }

      h3 {
        line-height: 32px;
        margin-bottom: 0;
      }

      &-schedule_picker {
        &-title {
          margin-bottom: 4px;
        }

        &-profit {
          display: flex;

          p {
            font-weight: 400;
            margin: 0 4px 0 0;
            font-size: 13px;
            user-select: none;
          }

          &-arrow {
            cursor: pointer;
          }
        }

        &-picker {
          display: flex;

          &-circle {
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $orange-alt;
            margin-top: 4px;
          }

          p {
            margin: 0 4px 0 0;
            user-select: none;
            font-weight: 600;
            line-height: 20px;
            font-size: 13px;
          }

          &-arrow {
            cursor: pointer;

            i {
              font-size: 16px;
              line-height: 8.3px;
              font-weight: 700;
            }
            &.-gray {
              color: #C1CCD3;
            }
          }
        }
      }

      &-date_picker {
        .workshifts-edit-main-datepicker {
          &-border {
            display: none;
          }

          &-current {
            width: 160px;

            &-icon {
              display: none;
            }
          }

          &-prev, &-next {
            font-size: 17px;
            color: $text-color;
          }
        }
      }

      h4 {
        line-height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    &-body {
      width: 100%;
      padding: 24px;

      &.-fixed {
        max-height: 224px;
        overflow: auto;
      }

      &.-fixed_large {
        max-height: 345px;
        overflow: auto;
      }

      &.-paddingless {
        padding: 0;
      }

      &.-duties {
        max-height: 186px;
        overflow: auto;
      }

      &.-empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &-report {
        position: relative;
        padding: 12px 56px 12px 24px;
        border-bottom: 1px solid $border-color;
        cursor: pointer;

        &-main {
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          align-items: center;
        }

        &-icon {
          position: absolute;
          right: 34px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &-row {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }

        &-title {
          flex: 0 0 35%;
          max-width: 35%;
          text-align: left;

          &-icon {
            margin-left: 9px;
          }
          &.-more {
            flex: 0 0 40%;
            max-width: 40%;
          }
        }

        &-value {
          flex: 0 0 65%;
          max-width: 65%;
          text-align: left;

          &-input {
            width: 100%;
            padding: 6px 16px;
            border: none;
            outline: none;
          }

          &-select {
            width: 100%;

            .custom_select {
              &.-alt .custom_select-dropdown {
                .dropdown {
                  &-toggle {
                    padding: 6px 46px 6px 16px;
                  }
                }
              }
            }
          }

          &-date {
            width: 100%;
            padding: 6px 16px;

            .mx {
              &-input-wrapper, &-datepicker {
                width: 100%;
              }
            }
          }

          &-icon {
            width: 16px;
            height: 16px;
            border-radius: 16px;
            color: var(--gray-text-dark);
          }

          &-group {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%
          }

          .mx {
            &-input-wrapper, &-datepicker {
              width: 100%;
            }
          }

          &-shifts_numbers {
            width: 190px;
            padding: 8px 8px 0;
            font-size: $font-size-base + px;

            &-status {
              padding: 2px 8px;
              border-radius: 22px;
              font-size: 11px;
              white-space: nowrap;

              &.-created {
                background-color: rgba(26, 134, 208, 0.1);
                color: $cyan;
              }

              &.-assigned {
                background-color: rgba(253, 167, 0, 0.1);
                color: $yellow;
              }

              &.-canceled {
                background-color: rgba(253, 95, 0, 0.1);
                color: $red;
              }

              &.-process {
                background: rgba(33, 174, 140, 0.2);
                color: $teal;
              }

              &.-completed {
                background-color: rgba(233, 236, 239, 0.2);
                color: $gray-text;
              }
            }
          }
        }

        p {
          flex: 0 0 35%;
          max-width: 35%;
          margin: 0;
        }
      }

      &-tooltip{
        .tooltip-inner{
          min-width: 404px !important;
          max-width: 404px;
          padding: 8px 24px;
          max-height: 260px;
          overflow: auto;
          font-size: 13px;
        }

        &-body {
          padding: 14px 0;
          border-bottom: 1px solid $text-color;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      &-comment {
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;
        max-height: 250px;
        overflow: auto;

        &:last-child {
          margin-bottom: 0;
        }

        &-avatar {
          margin-right: 12px;
          flex-grow: 0;
          flex-shrink: 0;
        }

        &-main {
          flex: 0 0 calc(100% - 36px);
          max-width: calc(100% - 36px);

          p {
            margin-bottom: 0;
          }

          &-description {
            font-size: 13px;
            font-weight: normal;
            margin: 0;
            padding: 4px 0;
          }

          &-time {
            color: #9DA8AF;
            font-size: 13px;
            font-weight: normal;
          }
        }
      }

      &-office {
        padding: 12px 24px;
        width: 280px;

        &.-error_text {
          color: $orange-alt;
        }
      }

      &-profit {

        &.-fixed {
          max-height: 290px;
          overflow: auto;
        }

        &-container {
          min-width: 500px;
        }

        &-tooltip {
          display: flex;
          align-items: center;
          padding: 4px 16px;
        }

        &-title {
          font-weight: 600;
          padding: 16px 24px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid $border-color;
          background: $body-bg;

          &-columns {
            font-size: 12px;
            line-height: 16px;
          }

          &-procent_icon {
            margin-right: 30%;
            font-size: 12px;
            line-height: 16px;
          }

          &-arrow {
            display: inline-flex !important;
            align-items: center;
            margin-left: 8px;
            transition: .2s;
            cursor: pointer;

            &.-active {
              transform: rotate(180deg);
            }
          }
        }

        &-row {
          font-weight: 400;
          display: flex;
          padding: 12px 5%;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;

          &:not(:last-child) {
            border-bottom: 1px solid $border-color;
          }

          &-avatar {
            margin-right: 8px;
          }

          &-fullname {
            flex: 0 0 53%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: auto 4px auto 0;
          }

          &-resign_icon {
            margin: auto;
          }

          &-procent {
            flex: 0 0 30%;
          }

          &-model_profit{
            text-overflow: ellipsis;
            width: 68px;
            white-space: nowrap;
            overflow: hidden;
          }
        }

      }
      &-schedule {
        max-height: 360px;
        overflow-y: auto;
        overflow-x: hidden;

        &.-fixed {
          max-width: 100%;
        }

        &-tooltip {
          display: flex;
          align-items: center;
          padding: 4px 16px;
          &-flag{
            margin-right: 4px;
          }
          &-info {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            text-align: left;
          }
        }
        &-header {
          display: flex;
          background: var(--bg-color);
          font-weight: 600;
          font-size: 11px;
          padding: 16px 0;

          &-title {
            flex: 0 0 34px;
            max-width: 34px;
          }

          &-main {
            flex: 0 0 calc(100% - 34px);
            max-width: calc(100% - 34px);
            display: flex;
          }

          &-number {
            flex: 0 0 16%;
            max-width: 16%;
            text-align: left;
            padding: 0 16px;
          }

          &-model {
            flex: 0 0 34%;
            max-width: 34%;
            margin-left: 3%;
            text-align: left;
          }

          &-from {
            flex: 0 0 15%;
            max-width: 15%;
            white-space: nowrap;
            padding: 0 4px;
          }

          &-to {
            flex: 1 1 100%;
            max-width: 100%;
            text-align: left;
            white-space: nowrap;
            padding: 0 4px;
          }

          &-status {
            flex: 0 0 116px;
            max-width: 116px;
            text-align: left;
            white-space: nowrap;
            padding: 0 16px;
          }
        }

        &-days {
          &-day {
            display: flex;

            &-title {
              display: flex;
              justify-content: center;
              align-items: center;
              flex: 0 0 34px;
              max-width: 34px;
              border-right: 1px solid var(--border-color-light);
              text-transform: capitalize;
              font-size: 13px;
              font-weight: 600;
              line-height: 20px;
              border-bottom: 1px solid $border-color;

              &:last-child {
                border-bottom: none;
              }
            }

            &-period_field {
              flex: 0 0 calc(100% - 34px);
              max-width: calc(100% - 34px);
              display: flex;
              flex-direction: column;

              &-period {
                width: 100%;

                &-work_shifts {

                  &-work_shift {
                    display: flex;
                    width: 100%;
                    padding: 12px 0;

                    &-shift {
                      width: 100%;
                      display: flex;

                      &-number {
                        flex: 0 0 16%;
                        max-width: 16%;
                        text-align: left;
                        padding: 0 16px;
                      }

                      &-model {
                        flex: 0 0 34%;
                        max-width: 34%;
                        margin-left: 3%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                      }

                      &-from {
                        flex: 0 0 15%;
                        max-width: 15%;
                        padding: 0 4px;
                      }

                      &-to {
                        flex: 1 1 100%;
                        max-width: 100%;
                        padding: 0 4px;
                      }

                      &-status {
                        flex: 0 0 116px;
                        max-width: 116px;
                        padding: 0 16px;

                        &-badge {
                          flex-shrink: 0;
                          display: table;
                          font-weight: 500;
                          font-size: 10px;
                          padding: 2px 8px;
                          border-radius: 22px;
                          white-space: nowrap;

                          &.-created {
                            background: rgba(26, 134, 208, 0.1);
                            color: $cyan;
                          }

                          &.-assigned {
                            background: $warning-light;
                            color: $yellow;
                          }

                          &.-canceled {
                            background: rgba(253, 95, 0, 0.1);
                            color: $orange-alt;
                          }

                          &.-process {
                            background: linear-gradient(0deg, rgba(33, 174, 140, 0.1), rgba(33, 174, 140, 0.1)), $white;
                            color: $teal;
                          }

                          &.-completed {
                            background: $body-bg;
                            color: $gray-text;
                          }
                        }
                      }

                      &-info {
                        text-align: right;
                        width: 100%;
                        &-icon {
                          margin-right: 16px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      &-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 34px 0 40px;


        &-title {
          font-weight: 600;
          margin: 8px;
        }

        &-subtitle {
          font-size: 11px;
          margin: 0;
        }
      }

      &-list {
        margin-bottom: 8px;

        &-title {
          margin-bottom: 4px;
        }

        ul {
          margin-bottom: 0;
        }
      }

      &-empty_duties {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.-loading {
          flex-direction: column;

          .throbber {
            margin-bottom: 16px;
          }
        }

        b {
          text-align: center;
        }
      }
    }

    &-payment {
      display: flex;
      justify-content: space-between;
      padding: 16px 24px 24px;

      &-cell {
        border-radius: 10px;
        background: rgba(26, 134, 208, 0.10);
        padding: 2px 8px;
        font-size: 11px;
        width: 74px;
        white-space: nowrap;
        height: 20px;
        color: $cyan;
        font-weight: 500;
      }

      &-form {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;

        &-block {
          padding: 0 8px;
          margin-bottom: 12px;

          &.-card_number {
            flex: 0 0 65%;
            max-width: 65%;
          }

          &.-expires_at {
            flex: 0 0 35%;
            max-width: 35%;
          }

          &.-card_holder {
            flex: 0 0 100%;
            max-width: 100%;
          }

          &-title {
            color: $gray-text;
            margin-bottom: 0;
          }

          &-input {
            padding: 4px 8px;
            background-color: $gray-200;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hidden_data {
              &.-card_number, &.-card_expires_at {
                flex: 1 1 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
    }

    &-groups {
      &-group {
        position: relative;
        padding: 20px;
        border-bottom: 1px solid var(--border-color-light);

        &:last-child {
          border-bottom: 0;
        }

        &-main {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          background-color: rgba(26, 134, 208, 0.1);
          padding: 2px 8px;
          border-radius: 22px;
          color: $info;
          font-size: 10px;
        }

        &-delete {
          &.glyphicon {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
      }
    }

    &-footer {
      padding: 16px 20px;
      border-top: 1px solid var(--border-color-light);

      &-job-duties {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px -8px 24px rgba(0, 0, 0, 0.04);
      }
    }
  }

  &-icon {
    &-gray {
      stroke: $gray-text;
    }
  }

  @include media-breakpoint-down(xl) {
    grid-template-columns: [start] 50% [middle] 50% [end];
    grid-template-rows: [start] auto [middle] auto [breakpoint] auto [end];
    grid-auto-flow: column;

    &-block {
      &.-schedule {
        grid-area: middle / middle / middle / end;
      }

      &.-main {
        grid-area: start / start / end / middle;
      }

      &.-additional {
        //grid-area: middle / middle / end / end;
        grid-area: auto;
      }

      &.-duties {
        grid-area: start / middle / middle / end;
      }
    }
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: [start] 50% [middle] 50% [end];
    grid-template-rows: [start] auto [middle] auto [end];

    &-block {
      &.-schedule {
        grid-area: middle / start / middle / end;
      }

      &.-main {
        grid-area: end / start / end / middle;
      }

      &.-additional {
        grid-area: end / middle / end / end;
      }

      &.-duties {
        grid-area: start / start / middle / end;
      }
    }
  }

  &-tooltip_profit {
    padding: 4px 8px;
    font-weight: 400;
    line-height: 20px;
    font-size: 13px;
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: [start] 100% [end];
    grid-template-rows: [start] auto [breakpoint] auto [breakpoint] auto [end];

    &-block {
      &.-schedule {
        grid-area: breakpoint 1 / start / breakpoint 1 / end;
      }

      &.-main {
        grid-area: breakpoint 2 / start / breakpoint 2 / end;
      }

      &.-additional {
        grid-area: breakpoint 3 / start / end / end;
      }

      &.-duties {
        grid-area: start / start / breakpoint 1 / end;
      }
    }
  }
}