@mixin percentages-input {
  &-percentages {
    border: 1px solid transparent;
    padding: 2px 8px;
    border-radius: 8px;
    margin-right: 8px;
    white-space: nowrap;
    margin-bottom: 0;

    &.-invalid {
      color: $danger;
    }

    &:focus {
      background-color: transparent !important;
      border-color: $border-color;
    }

    &-input {
      border: none;
      background: transparent;
      padding: 0;
      outline: none;
      &.-invalid {
        color: $danger;
      }

      &::placeholder {
        color: transparent;
      }
    }

    &-symbol:not(.-active) {
      opacity: 0;
    }
  }

  &:hover &-percentages {
    background-color: $body-bg;

    &-input {
      &::placeholder {
        color: $gray-text;
      }
    }

    &-symbol:not(.-active) {
      opacity: 1;
    }
  }
}

.ref_system_models {
  &-throbber_button {
    width: 160px;
    height: 24px;
    padding: 4px 16px;

    .throbber-button-block {
      bottom: 15%;
    }

    &.primary {
      border-color: $primary !important;
    }

    span {
      font-size: 11px;
    }
  }
  &-main {
    padding-top: 6px;
    &-block {
      &-title {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $border-color;
        margin: 0 24px;

        &.-active {
          border-bottom: none;
        }

        &.-unbordered {
          border: none;
        }
      }

      &-group {
        &-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px 24px;
          white-space: nowrap;
          border-top: 1px solid $border-color;

          &-groups {
            width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &.-active {
            border-bottom: 1px solid $border-color;
          }

          @include percentages-input;
        }

        &-users {
          &-user {
            display: flex;
            position: relative;
            align-items: center;
            padding: 16px 0px;
            margin: 0 24px;
            @include percentages-input;

            &:not(:last-child) {
              border-bottom: 1px solid $border-color;
            }

            &-avatar {
              margin-right: 20px;
            }

            &-info {
              flex: 1 1 100%;
              max-width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}