.avatar_upload {
  position: relative;
  width: 80px;

  &.-lg {
    width: 48px;
  }

  &.-lg &-add {
    height: 16px;
    width: 16px;
  }

  &.-md {
    width: 40px;
  }

  &.-sm {
    width: 20px;
  }

  &-main {
    &.avatar {
      max-height: 100%;
      max-width: 100% !important;
    }
  }

  &-add {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    height: 26px;
    width: 26px;

    &.btn.btn-edit {
      display: block;
      box-shadow: 0 8px 30px rgba(75, 102, 171, 0.2)!important;
      cursor: pointer;
    }

    &-input {
      opacity: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: none;
    }
  }

  &-list_modal {
    &-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      &-new {
        cursor: pointer;
        color: $cyan;
        display: flex;
        align-items: center;

        &-button {
          position: relative;

          &:before {
            content: 'Загрузить новое';
            color: $primary-color;
            position: absolute;
            left: -120px;
          }
        }
      }
    }

    &-card {
      padding: 20px;
      border: 1px solid $border-color;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &-item {
        flex: 0 0 79px;
        max-width: 79px;
        height: 80px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        margin: 4px;
      }
    }
  }

  .my-clipper {
    width: 100%;
    max-width: 600px;
    max-height: 300px;
    margin: 0 auto;
  }
}