.collapse_block {
  &-toggle {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    &-icon {
      transition: .2s;
      transform: none;

      &.-active {
        transform: rotate(180deg);
      }
    }
  }

  &-main {

  }
}