.password_field {
  position: relative;

  &.-error &-input {
    color: var(--red);

    &::placeholder {
      color: var(--red);
    }
  }

  &-input {
    padding: 6px 24px 6px 16px;
    max-width: 100%;

    &.input-plain {
      border: 1px solid transparent;
    }
  }

  &-toggle {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);

    .glyphicon {
      cursor: pointer;
      color: var(--gray-text-dark);

      &:hover {
        color: $primary;
      }
    }
  }
}