.notification_users {
  &-body {
    &-filters {
      padding: 24px;

      &-selects {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
      }

      .input-group-text {
        padding: 8px 12px;
      }
    }

    &-role {
      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 24px;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        cursor: pointer;
        margin-top: -1px;

        &-arrow {
          transform: none;
          transition: .2s;

          &.-active {
            transform: rotate(180deg);
          }
        }

        .groups_select-item-container-checkbox {
          height: 16px;
        }
      }

      &-list {
        padding: 0 24px;

        &.-empty {
          padding: 12px 24px;
        }

        &-user {
          display: flex;
          align-items: center;
          position: relative;
          border-bottom: 1px solid $border-color;
          padding: 16px 0 12px;

          &-main {
            margin-left: 8px;
            flex: 0 0 calc(100% - 70px);
            max-width: calc(100% - 70px);
            overflow: hidden;

            p {
              margin-bottom: 0;
              display: block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &-checkbox {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            height: 16px;
          }
        }
      }
    }
  }
}